#root {
  width: 100%;
}

.app-wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app {
  position: relative;
  min-height: 100vh;
  padding: 2rem 2rem 0rem 2rem;
}

ul {
  list-style-type: none;
}

h3 {
  margin-top: 0;
}

.lg-screen {
  display: none;
}

/* tablet and above screen sizes */
@media (min-width:768px) {
  .lg-screen {
    display: inline-block;
  }
}