.cards-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.col {
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    color: #1F5062;
    border: 3px solid #1F5062;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: left;
}

.img-container {
    background-color: #fff;
    padding: 30px;
}

.card-image {
    width: 100%;       
    height: 0;
    padding-top: 66.64%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.card-text {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    flex: 1;
}

.quantity-box {
    flex: 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.quantity-input {
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: calc(100% - 30px);
    max-width: 100%;
    margin-bottom: 15px;
    color: #495057;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
}

/* btn */
.add-item {
    width: 100%;
    --background: #1F5062;
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale, 1));
    transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
}

.add-item span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    transition: transform .7s ease-in-out;
}

.add-item .added {
    position: absolute;
    top: 50%;
    width: 80%;
    height: 100%;
    margin: 17px 0 0 -18px;
    transform: translateY(30px);
    z-index: 1;
}

/* plus sign */
.add-item .to-add:before,
.add-item .to-add:after {
    content: '';
    width: var(--w, 2px);
    height: var(--h, 14px);
    border-radius: 1px;
    position: absolute;
    left: var(--l, 8px);
    top: var(--t, 6px);
    background: currentColor;
    transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
    transition: transform .65s ease-in-out .05s;
}

.add-item span:after {
    --w: 14px;
    --h: 2px;
    --l: 2px;
    --t: 12px;
}

/* tick sign */
.add-item .added:before,
.add-item .added:after {
    content: '';
    width: var(--w, 2px);
    height: var(--h, 21px);
    border-radius: 1px;
    position: absolute;
    left: var(--l, 17px);
    top: var(--t, 1px);
    background: currentColor;
    transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
    transition: transform .65s ease-in-out .05s;
}

.add-item .added:after {
    --w: 10px;
    --l: 5px;
    --t: 14px;
}

/* keyframes for bg color animation */
@-o-keyframes fadeIt {
    0%   { background-color: #1F5062; }
    50%  { background-color: #46afd5; }
    100% { background-color: #4fc9f6; }
  }
  @keyframes fadeIt {
    0%   { background-color: #1F5062; }
    50%  { background-color: #00bbff; }
    100% { background-color: #4fc9f6; }
}

/* clicked class */
.active {
    --scale: .95;
    --span-y: -32px;
    --icon-r: 180deg;
    --fill: 1;
    --fill-d: .8s;
    --offset: 0;
    --offset-d: 1.73s;

    animation: fadeIt 2s ease-in-out;
    -o-animation: fadeIt 2s ease-in-out; 
}

.active span {
    transform: translateY(-30px);
}

.active .added {
    transform: translateY(-30px);
}

.active .added:before,
.active .added:after {
    transform: scale(.75) rotate(225deg) translateY(var(--icon-y, 0));
    width: var(--w, 2px);
    height: var(--h, 21px);
    left: var(--l, 17px);
    top: var(--t, 1px);
}

/* shrink on click */
.add-item:active {
    --scale: .95;
}

/* pale white circle on click */
.add-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;    
}

.add-item:active::after {
    width: 300px;
    height: 300px;
}

/* tablet and above screen sizes */
@media (min-width:768px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}