.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.carousel-li {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all .2s ease-in-out;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 200;
    border: none;
    background-color: rgba(0,0,0,0.4);
    transition: none;
}

.carousel-nav:focus  {
    border: none;
    outline: none;
}

.next {
    right: 15px;
}

.prev {
    left: 15px;
}