.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}


.carousel-li {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all .2s ease-in-out;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border-radius: 0;
    z-index: 200;
    border: none;
    color: #fff;
    font-weight: 700;
    transition: none;
}

.carousel-nav:focus {
    border: none;
    outline: none;
}

.next {
    right: 0;
    background-image: linear-gradient(to right, transparent 20%, rgba(255, 255, 255, 0.4));
}

.prev {
    left: 0;
    background-image: linear-gradient(to left, transparent 20%, rgba(255, 255, 255, 0.4));
}

.chevron-left::after {
    content: ' ';
    position: absolute;
    right: 15px;
    top: 50%;
    display: inline-block;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 8px;
    width: 8px;  
    transform: rotate(135deg);  
}

.chevron-right::after {
    content: ' ';
    position: absolute;
    right: 15px;
    top: 50%;
    display: inline-block;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 8px;
    width: 8px;    
    transform: rotate(-45deg);
}

/* @media (min-width:768px) {

} */