.cart {
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    gap: 30px;
}

.cart-items,
.summary {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.cart-items {
    flex-grow: 4;
}