.cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 60px;
    gap: 30px;
}

.cart-items,
.summary {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.summary {
    gap: 0;
}

.summary-header {
    text-align: left;
}

hr {
    width: 100%;
}

.cart-item-headers,
.list-item {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr .5fr;
    grid-template-rows: .5fr;
    gap: 30px;
}

.cart-item-headers {
    text-align: left;
}

.cart-item-img {
    width: 75px;
}

.cart-item-col {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.product-details {
    gap: 0;
}

.product-details > p {
    margin-top: 0;
    margin-bottom: 45px;
}

.cart-item-category {
    margin: 0;
    font-size: .8rem;
    color: #C2C2C2;
}

.quantity {
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.price {
    align-items: center;
    text-align: center;
}

.quantity > p {
    min-width: 25px;
}

.quantity-btn {
    border-radius: 5px;
    font-weight: 200;
    border: 1px solid #555;
}

.delete-btn {
    border-color: #ff2020;
}

.shop-link {
    margin-top: 30px;
    text-decoration: underline;
}

.summary-list-item {
    display: flex;
    justify-content: space-between;
}

.summary-sub-heading {
    text-align: left;
    color: #C2C2C2;
}

.summary-price {
    font-weight: 700;
}

.checkout-btn {
    background-color: #1F5062;
    border-color: #0b252e;
    color: #fff;
    width: 100%;
    margin-top: auto;
}