.footer {
    background-color: #1E1E1E;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}

.footer a > svg {
    font-size: 1.8rem;
    margin-right: 10px;
    vertical-align: top;
}