.header {
    background-color: rgba(255, 255,255, 0.8);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-logo {
    z-index: 2;
}

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 0 25px 0 0;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hamburger.menu-active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.menu-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.menu-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header h2 {
    display: flex;
    align-items: center;
    color: #1F5062;
    margin: 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin: 0;   
    padding-top: 150px;
    padding-left: 0;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
}

.nav-menu.menu-active {
    left: 0;
}

.no-scroll {
    overflow: hidden;
}

.header nav ul li {
    list-style-type: none;
    margin-left: 40px;
}

.nav-link {
    display: flex;
    color: #1F5062;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.dropdown-links {
    margin-left: 30px;
}

.dropdown-link {
    display: block;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.cart-link {
    align-items: center;
}

.cart-quantity {
    margin-left: 5px;
}

/* tablet and above screen sizes */
@media (min-width:768px) {
    .header {
        height: 70px;
        padding: 0;
    }

    .hamburger {
        display: none;
    }

    .header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

    .header nav ul li {
        margin: 0;
        height: 100%;
        justify-content: center;
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 15px 0 0;   
        padding: 0; 
        position: relative;
        left: auto;
        top: auto;
        background-color: transparent;
        width: auto;
    }

    .dropdown {
        padding-right: 15px;
    }

    .dropdown-link {
        margin-right: 5px;
    }

    .dropdown-link::after {
        content: ' ';
        position: absolute;
        right: 20px;
        top: calc(50% - 2px);        

        display: inline-block;
        border-bottom: 1px solid #1f5062;
        border-right: 1px solid #1f5062;
        height: 8px;
        width: 8px;
        transform: rotate(-45deg);
        transition: ease-in-out .25s;
    }

    .dropdown-links {
        display: none;
        position: absolute;
        background-color: rgba(255,255,255, 0.9);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        clip-path: inset(0px -16px -16px -16px);
        top: 70px;
        margin-left: 0;
    }
    
    .dropdown:hover .dropdown-links,
    .dropdown:hover .dropdown-links:hover {
        display: block;
    }
    
    .dropdown:hover .dropdown-links a:hover {
        background-color: #6ed3ff;
    }

    .dropdown:hover .dropdown-link:after {
        transform: rotate(45deg);
    }
}